.map{position:absolute;background:black;bottom:10px;right:10px;
	z-index:100;}
iframe {
 -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 
  /*
  -moz-box-shadow: 0px 0px 0px 0px #CCCAC4; 
  -webkit-box-shadow: 0px 0px 0px 0px #CCCAC4; 
	box-shadow: 5px 5px 5px 0px #888888;
*/
}